.header {
  display: flex;
  justify-content: center;
  max-height: 46px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 10px 0;
}

.header__logo {
  width: 94px;
  height: 26px;
}
