.modal {
  visibility: hidden;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  padding: 36px 50px 32px;
  margin: 12px;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  transition: 0.3s;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  opacity: 40%;
}

.modal__close-btn_white {
  position: absolute;
  right: -50px;
  top: 0;
  opacity: 100%;
}
.modal__close-btn_white:hover {
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  padding-top: 4px;
  padding-bottom: 4px;
}

.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  margin-top: 8px;
  padding: 16px 12px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 8px;
}

.modal__save-btn {
  margin: 0;
  max-width: 156px;
  padding: 18px 58px;
  margin-top: 32px;
  background: rgba(33, 33, 33, 1);
  border: none;
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.modal__save-btn:hover {
  opacity: 80%;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  object-fit: contain;
  display: block;
  width: auto;
  cursor: auto;
  
}

.modal__caption {
  color: white;
  background-color: #212121;
  max-width: fit-content;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 8px;
}


@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
  .modal__title {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .modal__label {
    margin-top: 24px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__save-btn {
    max-width: 100%;
    margin-top: 24px;
  }
}

@media screen and (max-width: 672px) {
  .modal__image {
    max-width: unset;
  }
  .modal__close-btn_white {
    top: -48px;   
    right: 0;
  }
}