.page {
  background-color: #fcf5e5;
  min-width: 320px;
  min-height: 110vh;
  margin: 0 auto;
  color: rgba(33, 33, 33, 1);
}

.page__section {
  max-width: 1280px;
  min-width: 288px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .page__section {
    flex-direction: column;
    max-width: 288px;
  }
}
