.profile {
  display: flex;
  margin: 34px auto 0;
  padding-bottom: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  width: 95%;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 420px;
  width: 45%;
}

.profile__name {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  padding: 0 0 3.1px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 0 0 2px;
  margin-bottom: 16px;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  display: flex;
  margin-top: 0;
  background: none;
  align-items: center;
  border: none;
  gap: 8px;
  position: relative;
  padding: 0;
  top: -0.8px;
  opacity: 60%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  display: flex;
  margin-left: auto;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 157px;
  height: 52px;
  background: rgba(33, 33, 33, 1);
  border: none;
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__add-icon {
  width: 12px;
  height: 12px;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 640px) {
  .profile {
    margin-top: 20px;
    max-width: 288px;
    align-items: center;
  }
  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }
  .profile__column {
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .profile__name {
    margin-bottom: 6px;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .profile__description {
    text-align: center;
    margin: 0 0 32px;
    padding: 0 0 2px;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .profile__edit-btn {
    justify-content: center;
    margin-bottom: 20px;
  }
  .profile__add-btn {
    margin: 0;
    align-self: center;
    width: 100%;
    justify-content: center;
  }
}
